.button-container{
    min-height: 100px;
    display: flex;
    align-items: flex-end;
  }


.button{
    width: 100%;
    background: linear-gradient(to right, #303030 , #000);
    color: white;
    border: 1px solid;
    padding: 20px 30px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

.button:hover{
    background: #303030;
}

.button:disabled{
    background: rgb(136, 136, 136, 0.5);
    color: rgb(138, 138, 138);
    cursor: not-allowed;
}