.title{
    width: 100%;
    display: flex;
    padding: 2rem 0 6rem;
    justify-content: center;
    text-align: center;
}
  
  h1 {
    color: #fffbf1;
    font-size: 52px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    transform: translateX(-0%) translateY(-0%);
    
  }
  
  h1:before,
  h1:after {
    content: '';
    padding: .9em .4em;
    position: absolute;
    left: 50%;
    width: 100%;
    top: 50%;
    display: block;
    border: 8px solid white;
    border-radius: 30px;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  
  h1:before {
    border-color: #f2f2f2 #f2f2f2 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: -1;
  }
  
  h1:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #f2f2f2 #f2f2f2;
    box-shadow: 0 0 10px #9344bd, 0 0 40px #9344bd, 0 0 80px #9344bd;
  }


