.post{
  background: rgba(255, 255, 255);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
  border-radius: 50px;
}

.post img{
  max-width: 100%;
  border-radius: 45px 45px 0 0 ;
}

.post h3{
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  line-height: 1.4;
  font-size: 24px;
  background: linear-gradient(to right, #a033ff , #4f197e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

h3::first-letter{
  text-transform: uppercase;
}

.line{
  width: 100%;
  margin-bottom: 15px;
  opacity: 0.3;
}

.post p{
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  line-height: 1.4;
  color: rgb(112, 112, 112);
  font-size: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

p::first-letter{
  text-transform: uppercase;
}

.post-content{
  padding: 25px 10px;
  margin: 0 10px;
}

.number{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.post span{
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(to right, #a033ff , #4f197e);
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}
