.container{
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 30px;
}

.button-container{
  min-height: 80px;
  display: flex;
  align-items: flex-end;
}

.search-container{
  margin-bottom:  30px;
}

.notfound-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 8rem;
  gap: 30px;
}
.notfound{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  text-align: center;
  }

.search-container h2{
  margin-bottom: 20px;
  padding-left: 15px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
}



















































































